* {
  box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after{
  clear: both;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 1.25;
}

img {
  display: block;
  width: 100%;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

p, option {
  font-size: 14px;
}

/*header styling*/
header {
  background-color: #09c1b3;
  border-bottom: 5px solid #440063;
  color: white;
}

.logo {
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  padding: 12.5px 0px 10px 15px;
  float: left;
}

.nav-icon {
  float: right;
  font-size: 37.5px;
  padding: 12.5px;
}

.nav-icon:hover {
  color: #440063;
  cursor: pointer;
}

.nav-header {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
  clear: both;
}

.nav-header ul {
  padding: 0 20px 20px;
}

.navlist-item {
  border-bottom: 2px solid white;
}

.navlist-item:first-child {
  border-top: 2px solid white;
}

.navlist-item:hover {
  background-color: #08ADA1;
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 10px;
  display: block;
}

.visible {
  max-height: 200px;
}
/*end of header styling*/

/*Advanced search button*/
.adv-search {
  margin: 20px 25px 35px;
  background-color: #440063;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 40%;
  display: block;
  text-decoration: none;
  text-align: center;
}

.adv-search:hover {
  background-color: #09c1b3;
  color: #440063;
}
/*End of advanced search button*/

.container {
  width: 80%;
  margin: 0 auto;
}

.flex {
  display: inline-flex;
  flex-flow: row wrap;
  align-content: stretch;
}

/*Returned search options*/
.job-card {
  border: 2px solid #ddd;
  padding: 20px 10px;
  margin-bottom: 35px;
}

.job-card img {
  max-width: 40%;
  max-height: 75px;
  display: inline-block;
}

.job-card h4 {
  display: inline-block;
  width: 40%;
  margin-left: 17.5px;
  vertical-align: top;
}

.job-card h5 {
  padding-top: 15px;
}

.job-card li {
  list-style: disc;
  margin-left: 25px;
}

.view-now {
  margin: 15px auto 0;
  width: 45%;
  display: block;
  text-decoration: none;
}
/*End of returned search options*/

/*footer*/
footer {
  background-color: #09c1b3;
  padding: 15px 0;
  text-align: center;
  color: white;
}

footer nav {
  margin: 10px 0;
}

footer ul {
  padding: 0 5px;
}

footer nav li {
  display: inline-block;
  margin-bottom: 5px;
}

footer nav li a {
  text-decoration: none;
  color: white;
  padding: 0 5px;
}

footer nav li a:hover {
  color: #440063;
}
/*end of footer styling*/

@media (min-width: 480px) { /* mobile-landscape */
  .adv-search {
    width: 30%;
  }

  .job-card {
    padding: 20px;
  }

  .job-card img {
    max-height: 100px;
  }

  .job-card h4 {
    margin-left: 25px;
  }

  .view-now {
    margin-top: 20px;
    width: 40%;
  }
}

@media (min-width: 650px) { /* tablet-portrait */
    .nav-icon {
      display: none;
    }

    .nav-header {
      max-height: none;
      float: right;
      clear: none;
      font-size: 18px;
      padding: 10px;
    }

    .nav-header ul {
      padding: 0;
    }

    .navlist-item {
      display: inline-block;
    }

    .navlist-item, .navlist-item:first-child {
      border: none;
    }

    .navlist-item:hover {
      background-color: inherit;
    }

    .nav-link:hover {
      color: #440063;
    }

    .container {
      width: 85%;
    }

    .job-card {
      width: 47.5%;
      vertical-align: top;
      margin-right: 12.5px;
      display: inline-flex;
      flex-flow: column nowrap;
    }

    .flex-item {
      flex: 1 1 auto;
    }

    .flex-items {
      flex: 2 1 auto;
    }

    .job-card h4 {
      margin-left: 15px;
    }

    .view-now {
      width: 60%;
    }
  }

  @media (min-width: 940px) { /* tablet-landscape/smaller laptops */

    .adv-search {
      width: 15%;
    }

    .container {
      width: 90%;
    }

    .job-card {
      width: 31%;
      margin-right: 15px;
    }

    .job-card h4 {
      margin-right: 20px;
    }

    .view-now {
      width: 40%;
    }
  }

  @media (min-width: 1220px) { /* laptops/desktops */
    header h1 {
      margin-left: 25px;
    }

    .nav-header {
      margin-right: 25px;
    }

    .adv-search {
      width: 10%;
    }

    .job-card {
      width: 22.5%;
      margin-right: 25px;
    }

    .job-card h4 {
      margin-left: 22.5px;
    }

    .view-now {
      width: 50%;
    }
}
