* {
  box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after{
  clear: both;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

img {
  display: block;
  width: 100%;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

/*header styling*/
header {
  background-color: #09c1b3;
  border-bottom: 5px solid #440063;
  color: white;
  line-height: 1;
}

.logo-link {
  text-decoration: none;
  color: white;
}

.logo {
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  padding: 12.5px 0px 10px 15px;
  float: left;
}

.nav-icon {
  float: right;
  font-size: 37.5px;
  padding: 12.5px;
}

.nav-icon:hover {
  color: #440063;
  cursor: pointer;
}

.nav-header {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
  clear: both;
}

.nav-header ul {
  padding: 0 20px 20px;
}

.navlist-item {
  border-bottom: 2px solid white;
}

.navlist-item:first-child {
  border-top: 2px solid white;
}

.navlist-item:hover {
  background-color: #08ADA1;
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 10px;
  display: block;
}

.visible {
  max-height: 250px;
}
/*end of header styling*/

/*link to homepage styling*/
.homepagelink {
  margin: 15px;
  color: #440063;
}

.homepagelink p {
  display: inline-block;
}
/*end of link to homepage styling*/

/*main body styling*/
.cv-services h2 {
    position: relative;
    text-align: center;
    font-size: 30px;
    margin: 20px 10px;
}

.cv-services span {
    background: #fff;
    padding: 0 5px;
    position: relative;
}

.cv-services h2:before {
 background: #08ADA1;
 content: "";
 display: block;
 height: 2px;
 position: absolute;
 top: 50%;
 width: 100%;
}

.cv-services-img {
  background: url(../images/image30.jpg) center center no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}

.cv-services-aside {
  background-color: #09c1b3;
  opacity: 0.85;
  padding: 10px 25px;
  font-weight: 500;
}

.icons-white {
   font-size: 50px;
   padding: 10px;
 }

.cv-services-aside p:last-child {
  margin-bottom: 20px;
}

/*end of main body styling*/

/*footer*/
footer {
  background-color: #09c1b3;
  padding: 15px 0;
  text-align: center;
  color: white;
}

footer nav {
  margin: 10px 0;
}

footer ul {
  padding: 0 5px;
}

footer nav li {
  display: inline-block;
  margin-bottom: 5px;
}

footer nav li a {
  text-decoration: none;
  color: white;
  padding: 0 5px;
}

footer nav li a:hover {
  color: #440063;
}
/*end of footer styling*/

@media (min-width: 480px) { /* mobile-landscape */
  main {
    margin: 0 auto;
  }
}

  @media (min-width: 650px) { /* tablet-portrait */
    .nav-icon {
      display: none;
    }

    .nav-header {
      max-height: none;
      float: right;
      clear: none;
      font-size: 17px;
      padding: 10px;
    }

    .nav-header ul {
      padding: 0;
    }

    .navlist-item {
      display: inline-block;
    }

    .navlist-item, .navlist-item:first-child {
      border: none;
    }

    .navlist-item:hover {
      background-color: inherit;
    }

    .nav-link:hover {
      color: #440063;
    }
  }

  @media (min-width: 940px) { /* tablet-landscape/smaller laptops */
    .nav-header {
      font-size: 18px;
    }

    .homepagelink {
      margin-left: 50px;
    }
  }

  @media (min-width: 1220px) { /* laptops/desktops */
    header h1 {
      margin-left: 25px;
    }

    .nav-header {
      margin-right: 25px;
    }
}
