* {
  box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after{
  clear: both;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
  letter-spacing: 2px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

/*header styling*/
header {
  background-color: #5c6d5f;
  color: white;
  line-height: 1;
  border-bottom: 2px solid #fff;
}

.logo-link {
  text-decoration: none;
  color: white;
}

.logo {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  padding: 12.5px 0px 10px 15px;
  float: left;
}

.nav-icon {
  float: right;
  font-size: 37.5px;
  padding: 12.5px;
}

.nav-icon:hover {
  color: #383e37;
  cursor: pointer;
}

.nav-header {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
  clear: both;
}

.nav-header ul {
  padding: 0 20px 20px;
}

.navlist-item {
  border-bottom: 2px solid white;
}

.navlist-item:first-child {
  border-top: 2px solid white;
}

.navlist-item:hover {
  background-color: #d1ebcf;
  color: #383e37;
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 10px;
  display: block;
}

.visible {
  max-height: 250px;
}
/*end of header styling*/

/*main section styling*/
.resources-section {
  background: url(../images/image7.jpg) center center no-repeat;
  background-size: cover;
  padding: 10%;
  color: white;
}

.resources-button {
  background-color: white;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #383e37;
  display: block;
  width: 130px;
  margin: 0 auto 15px;
  text-align: center;
}

.resources-button:hover {
  background-color: #5c6d5f;
  color: #fff;
}

.sign-up-area {
  background-color: #d1ebcf;
  text-align: center;
  padding: 10px 20px;
}

.sign-up-area input {
  padding: 5px;
}

.submit-btn {
  background-color: #5c6d5f;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 10px 0;
}

.submit-btn:hover {
  background-color: #fff;
  color: #383e37;
}

.headings {
  text-align: center;
  padding: 20px 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #383e37;
}

.headings span {
  display: inline-block;
  width: 150px;
  height: 1px;
  background: #383e37;
}

/*articles page styling*/
.articles-section {
  padding: 15px 25px 50px;
}

.introduction {
  text-align: center;
}

.introduction p {
  margin-bottom: 10px;
}

.article-block {
  margin-top: 30px;
}

.article-number {
  background-color: #5c6d5f;
  width: 20px;
  border-radius: 50%;
  color: #fff;
  padding: 5px 20px 5px 17.5px;
  display: inline-block;
  vertical-align: top;
}

.article-info {
  display: inline-block;
  width: 200px;
  margin-left: 10px;
}

.article-info h5, .article-info p {
  margin-bottom: 10px;
}

.external-link {
  color: #5c6d5f;
  padding: 5px 10px;
  text-decoration: none;
  letter-spacing: 1px;
  display: block;
  width: 165px;
  border: 1px solid #5c6d5f;
}

.external-link:hover {
  background-color: #383e37;
  color: #fff;
}
/*end of articles page styling*/

/*coaching section*/
.coaching {
  text-align: center;
}

.coaching p, .cv-services p {
  padding: 0 25px;
  margin-bottom: 25px;
}

.coaches-pic {
  border-radius: 50%;
  max-height: 150px;
  max-width: 150px;
  margin: 0 auto;
}

.contact-deets {
  text-align: center;
}

.contact-deets-links {
  background-color: #5c6d5f;
  text-decoration: none;
  color: white;
  margin: 7.5px 2.5px 25px;
  padding: 7.5px 10px;
  border-radius: 50%;
  display: inline-block;
  font-size: 12px;
}

.contact-deets-links:hover {
  background-color: #383e37;
}
/*end of coaching section*/

/*cv services section*/
.cv-services {
  text-align: center;
  margin-bottom: 30px;
}

.cv-link {
  text-decoration: none;
  background-color: #5c6d5f;
  color: #fff;
  padding: 7.5px 15px;
}

.cv-link:hover {
  background-color: #383e37;
}
/*end of cv services*/

/*information section*/
.information-section {
  text-align: center;
  background-color: #d1ebcf;
  padding: 40px 30px;
}

.contact-info {
  margin-bottom: 40px;
}

.contact-info p, .job-alerts-info p {
  margin-bottom: 15px;
}

.email {
  font-size: 15px;
  text-decoration: none;
  color: inherit;
  background-color: #fff;
  padding: 10px 15px;
  letter-spacing: 1px;
}

.email p {
  display: inline-block;
}

.icons-green {
  font-size: 35px;
  color: #383e37;
}
/*end of information section*/
/*end of main section styling*/

/*footer*/
footer {
  background-color: #5c6d5f;
  padding: 15px 0;
  text-align: center;
  color: white;
}

footer nav {
  margin: 10px 0;
}

footer ul {
  padding: 0 5px;
}

footer nav li {
  display: inline-block;
  margin-bottom: 5px;
}

footer nav li a {
  text-decoration: none;
  color: white;
  padding: 0 5px;
}

footer nav li a:hover {
  color: #440063;
}
/*end of footer styling*/

@media (min-width: 480px) { /* mobile-landscape */
  .articles-section {
    width: 85%;
    margin: 0 auto;
  }

  .article-info {
    width: 275px;
  }
}

@media (min-width: 650px) { /* tablet-portrait */
  .nav-icon {
    display: none;
  }

  .nav-header {
    max-height: none;
    float: right;
    clear: none;
    font-size: 17px;
    padding: 10px;
  }

  .nav-header ul {
    padding: 0;
  }

  .navlist-item {
    display: inline-block;
  }

  .navlist-item, .navlist-item:first-child {
    border: none;
  }

  .navlist-item:hover {
    background-color: inherit;
  }

  .nav-link:hover {
    color: #383e37;
  }

  /*main section styling*/
  .resources-section aside {
    text-align: center;
  }

  .resources-button {
    display: inline-block;
    margin: 0 12.5px;
  }

  /*articles area styling*/
  .articles-section {
    width: 100%;
  }

  .article-block {
    width: 260px;
    margin-left: 25px;
  }

  .article-info {
    width: 175px;
  }

  .flex {
    display: inline-flex;
    flex-flow: row wrap;
    align-content: stretch;
  }

  .flex-1 {
    display: inline-flex;
    flex-flow: column nowrap;
    align-content: stretch;
  }

  .flexed-item {
    flex: 2 1 auto;
  }

  .flex-item {
    flex: 1 1 auto;
  }
  /*end of articles area styling*/
  .contact-deets {
    display: inline-block;
    margin: 0 50px 30px;
  }
  /*end of main section styling*/
}

@media (min-width: 940px) { /* tablet-landscape/smaller laptops */
  .resources-button {
    margin: 0 25px;
  }

  /*information section*/
  .contact-info, .job-alerts-info {
    display: inline-block;
    width: 42.5%;
    margin-bottom: 0;
    margin-right: 25px;
  }
  /*end of information section*/

}

@media (min-width: 1220px) { /* laptops/desktops */
}
