* {
  box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after{
  clear: both;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

/*header styling*/
header {
  background-color: #09c1b3;
  border-bottom: 5px solid #440063;
  color: white;
  line-height: 1;
}

.logo-link {
  text-decoration: none;
  color: white;
}

.logo {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  padding: 12.5px 0px 10px 15px;
  float: left;
}

.nav-icon {
  float: right;
  font-size: 37.5px;
  padding: 12.5px;
}

.nav-icon:hover {
  color: #440063;
  cursor: pointer;
}

.nav-header {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
  clear: both;
}

.nav-header ul {
  padding: 0 20px 20px;
}

.navlist-item {
  border-bottom: 2px solid white;
}

.navlist-item:first-child {
  border-top: 2px solid white;
}

.navlist-item:hover {
  background-color: #08ADA1;
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 10px;
  display: block;
}

.visible {
  max-height: 250px;
}
/*end of header styling*/


/*job search box*/
.find-jobs {
  background: url(../images/image1.jpg) center center no-repeat;
  background-size: cover;
  padding: 30% 10%;
  color: white;
}

.searchbox {
  background-color: #d1ebcf;
  color: white;
  padding: 5%;
}

.searchbox p {
  padding: 7.5% 0 0;
}

/*.searchbox input {
  outline: none;
  width: 100%;
  margin: 2.5% 0;
  padding: 2.5% 0;
  font-size: 18px;
}*/

.drop-down-box {
  outline: none;
  width: 100%;
  margin: 2.5% 0;
  padding: 2.5% 0;
  font-size: 18px;
}


.search-jobs {
  font-size: 18px;
  border: none;
  padding: 3.5% 0;
  font-weight: bold;
  color: #440063;
  background-color: white;
  margin: 2% 0;
  display: block;
  width: 100%;
  outline: none;
  text-align: center;
  text-decoration: none;
}

.search-jobs:hover {
  color: white;
  background-color: #09c1b3;
}
/*end of job search section*/

/*job alerts box*/
.job-alerts {
  margin: 10px;
  padding: 10px;
  background-color: #6BD9D1;
  box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
  text-align: center;
  text-decoration: none;
  color: black;
  display: block;
  width: 70%;
  margin: 0 auto 20px;
}

.job-alerts p {
  display: inline-block;
}

.sign-up {
  padding-left: 10px;
}
/*end of job alerts box section*/

/*Why use us section*/
.headings {
  text-align: center;
  padding: 35px 0;
  text-transform: uppercase;
}

.headings span {
  display: inline-block;
  width: 200px;
  height: 1px;
  background: #efccff;
}

.margin-adj-h {
  margin: 0;
  padding-bottom: 0;
}

.benefits {
  margin-bottom: 50px;
}

.benefits-layout {
  text-align: center;
  padding: 0 15px;
}

.benefits-layout h3, .benefits-layout ul, .benefits-layout p {
  padding-bottom: 15px;
}

.icons-green {
   color: #09c1b3;
   font-size: 50px;
   padding: 10px;
 }
/*end of why use us section*/

/*how it works*/
.howitworks {
  background: url(../images/image6.jpg) center center no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}

.howitworks-aside {
  background-color: #09c1b3;
  opacity: 0.85;
  padding: 10px 0;
  font-weight: 500;
}

.icons-white {
   font-size: 50px;
   padding: 10px;
 }

.howitworksbox {
  margin-top: 30px;
  vertical-align: top;
}

.howitworksbox:last-child {
  margin-bottom: 30px;
}

.howitworksbox h3 {
  padding: 0px 7.5px;
}

.howitworksbox p {
  padding: 5px 40px;
}
/*end of how it works*/

/*quote section*/
 .quote {
   padding: 0 25px 50px;
   text-align: center;
 }
/*end of quote section*/

/*Our Story section*/
.ourStory-section {
  background: url(../images/image30.jpg) center center no-repeat;
  background-size: cover;
}

.ourStory-aside {
  background-color: #09c1b3;
  opacity: 0.75;
  color: #fff;
}

.ourStory {
  text-align: center;
  padding: 0 15px;
}

.ourStory-text p, .ourStory-text h5 {
  padding: 0 20px 10px;
}

.ourStory-text h5 {
  text-transform: uppercase;
}

.story-div {
  padding: 25px 0 35px;
}
/*end of our story section*/

/*contact us section*/
.contact-us {
  text-align: center;
  padding: 0 35px 35px;
}

.contact-us h4 {
  margin-bottom: 10px;
}

.contact-us p {
  margin-left: 5px;
}

.email {
  font-size: 15px;
  text-decoration: none;
  margin: 0 auto;
  color: inherit;
}

.email-icon {
  background-color: #440063;
  padding: 7.5px;
  border-radius: 50%;
  color: white;
}

.email p {
  display: inline-block;
}
/*end of contact us section*/

/*resources section*/
.resources {
  background: url(../images/image12.jpg) center center no-repeat;
  background-size: cover;
  padding: 20% 10% 30%;
  color: white;
  text-align: center;
}

.resources-aside {
  background-color: #440063;
  opacity: 0.6;
  padding: 10px 0;
}

.resources-div {
  margin-top: 40px;
  vertical-align: top;
}

.resources-div:last-child {
  margin-bottom: 40px;
}

.resources h3 {
  padding:  0 7.5px;
}

.resources p {
  padding: 7.5px 15px;
}

.button-reference {
  background-color: white;
  text-decoration: none;
  color: #440063;
  padding: 3.5% 7.5%;
  border-radius: 5px;
  display: block;
  max-width: 160px;
  margin: 10px auto;
}

.button-reference:hover {
  background-color: #09c1b3;
}
/*end of resources section*/

/*footer*/
footer {
  background-color: #09c1b3;
  padding: 15px 0;
  text-align: center;
  color: white;
}

footer nav {
  margin: 10px 0;
}

footer ul {
  padding: 0 5px;
}

footer nav li {
  display: inline-block;
  margin-bottom: 5px;
}

footer nav li a {
  text-decoration: none;
  color: white;
  padding: 0 5px;
}

footer nav li a:hover {
  color: #440063;
}
/*end of footer styling*/

@media (min-width: 480px) { /* mobile-landscape */
  main {
    margin: 0 auto;
  }

  .find-jobs {
    padding: 20% 15%;
  }

  .job-alerts {
    width: 200px;
    margin: 10px auto 15px;
    padding: 10px;
  }

  .search-jobs {
    padding: 10px;
  }

  .benefits-layout {
    padding: 0 20px;
  }

  .email {
    padding: 10px 0 0;
  }

  .resources {
    padding: 20% 10%;
  }

  .contact-us {
    padding: 0 45px 45px;
  }
}

  @media (min-width: 650px) { /* tablet-portrait */
    .nav-icon {
      display: none;
    }

    .nav-header {
      max-height: none;
      float: right;
      clear: none;
      font-size: 17px;
      padding: 10px;
    }

    .nav-header ul {
      padding: 0;
    }

    .navlist-item {
      display: inline-block;
    }

    .navlist-item, .navlist-item:first-child {
      border: none;
    }

    .navlist-item:hover {
      background-color: inherit;
    }

    .nav-link:hover {
      color: #440063;
    }

    .tagline-container {
      padding: 10px;
    }

    .job-alerts-tablet {
      display: block;
      float: right;
      vertical-align: top;
      padding: 0 15px;
      width: 250px;
    }

    .tagline {
      float: left;
      padding: 10px 15px;
      width: 50%;
    }

    .find-jobs {
      padding: 10% 20%;
    }

    .benefits-layout {
      padding: 0 75px;
    }

    .howitworks-aside {
      padding: 10px 50px;
    }

    .ourStory {
      padding: 0 35px;
    }

    .ourStory-text p {
      padding: 10px 30px;
    }

    .email {
      width: 275px;
      padding-top: 0;
    }

    .contact-us h4 {
      margin: 15px;
    }

    .email p {
      padding: 10px 0 10px 10px;
    }

    .resources {
      padding: 10%;
    }

    .resources p {
      padding: 7.5px 50px;
    }

    .button-reference {
      padding: 10px;
    }
  }

  @media (min-width: 940px) { /* tablet-landscape/smaller laptops */
    .nav-header {
      font-size: 18px;
    }

    .tagline-container {
      padding: 0px 25px;
    }

    .find-jobs {
      padding: 12.5% 20%;
    }

    .searchbox {
      background-color: white;
      opacity: 0.9;
      color: black;
      box-shadow: inset 0 0 5px rgba(68,0,99,.75);
    }
/*
    .searchbox input {
      width: auto;
    }*/

    .drop-down-box {
      width: auto;
      padding: 5px;
    }

    .search-jobs {
      display: inline-block;
      width: auto;
      padding: 5px 25px;
    }

    .searchbox h3 {
      font-weight: bold;
      padding-top: 15px;
    }

    .searchbox p {
      padding-top: 15px;
    }

    .search-jobs {
      color: white;
      background-color: #440063;
      margin-left: 10px;
    }

    .searchbox {
      padding: 10px 20px;
    }

    .benefits-container {
      width: 80%;
      margin: 0 auto;
    }

    .icons-green {
      padding: 10px;
    }

    .benefits-layout p {
      padding: 0 20px 20px;
    }

    .howitworks-aside {
      padding: 0;
    }

    .howitworksbox {
      display: inline-block;
      width: 40%;
    }

    .ourStory {
      width: 80%;
      margin: 0 auto;
    }

    .resources {
      padding: 5%;
    }

    .resources-div {
      display: inline-block;
      width: 32%;
    }

    .margin-adj {
      margin-bottom: 55px;
    }
  }

  @media (min-width: 1220px) { /* laptops/desktops */
    header h1 {
      margin-left: 25px;
    }

    .nav-header {
      margin-right: 25px;
    }

    .tagline-container {
      padding: 0px 50px;
    }

    .find-jobs {
      padding: 10% 25%;
    }
/*
    .searchbox input {
      padding: 10px;
    }*/
/*
    .search-jobs {
      padding: 10px 25px;
    }*/

    .benefits-container {
      width: 60%;
    }

    .howitworksbox {
      width: 35%;
    }

    .ourStory {
      width: 65%;
    }

    .resources {
      padding: 2.5%;
    }

    .resources-div {
      margin-top: 30px;
    }
}
