* {
  box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after{
  clear: both;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 1.25;
}

img {
  display: block;
  width: 100%;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

p, option {
  font-size: 16px;
}

/*header styling*/
header {
  background-color: #09c1b3;
  border-bottom: 5px solid #440063;
  color: white;
}

.logo {
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  padding: 12.5px 0px 10px 15px;
  float: left;
}

.nav-icon {
  float: right;
  font-size: 37.5px;
  padding: 12.5px;
}

.nav-icon:hover {
  color: #440063;
  cursor: pointer;
}

.nav-header {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
  clear: both;
}

.nav-header ul {
  padding: 0 20px 20px;
}

.navlist-item {
  border-bottom: 2px solid white;
}

.navlist-item:first-child {
  border-top: 2px solid white;
}

.navlist-item:hover {
  background-color: #08ADA1;
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 10px;
  display: block;
}

.visible {
  max-height: 200px;
}
/*end of header styling*/

/*company information styling*/
.search-results-nav {
  padding: 15px;
}

.search-results-nav a {
  text-decoration: none;
}

.apply-button {
  float: right;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.job-title {
  text-align: center;
  margin: 15px 0 20px 0;
}

.company-info {
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
  padding: 10px;
  margin-bottom: 20px;
}

.company-info img {
  max-width: 250px;
}

.company-info h3, .company-info h4, .company-info p {
  padding-top: 7.5px;
}

.key-requirements h3, .role-descrip h3, .role-benefits h3, .location h3, .apply-now h3 {
  padding-bottom: 12.5px;
}

.key-requirements ul {
  margin: 0 0 20px 25px;
}

.key-requirements li {
  list-style: square;
}

.role-descrip, .role-benefits, .location {
  margin-bottom: 20px;
}

#map {
  height: 400px;
  width: 100%;
}

.apply-now {
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
  width: 100%;
  padding: 10px 25px;
  margin: 30px 0;
}

.apply-now h3 {
  text-align: center;
}

input {
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
}

.cv-upload {
  border: 1px solid #ddd;
}

.apply-now p {
  padding: 10px 0;
}

textarea {
  min-height: 150px;
  width: 100%;
  margin-bottom: 15px;
}

.terms {
  font-size: 14px;
  margin-top: 10px;
}

.second-apply-button {
  text-align: center;
  margin: 15px 0;
}

.second-apply-button button {
  background-color: #440063;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 7.5px 15px;
}

.second-apply-button button:hover {
  background-color: #08ADA1;
  color: #440063;
}

/*footer*/
footer {
  background-color: #09c1b3;
  padding: 15px 0;
  text-align: center;
  color: white;
}

footer nav {
  margin: 10px 0;
}

footer ul {
  padding: 0 5px;
}

footer nav li {
  display: inline-block;
  margin-bottom: 5px;
}

footer nav li a {
  text-decoration: none;
  color: white;
  padding: 0 5px;
}

footer nav li a:hover {
  color: #440063;
}
/*end of footer styling*/

@media (min-width: 480px) { /* mobile-landscape */
  .company-info {
    padding: 20px;
  }

  .key-requirements, .role-descrip, .role-benefits {
    margin: 40px 0;
  }

  .F-name, .S-name {
    width: 45%;
    display: inline-block;
  }

  .S-name {
    margin-left: 27.5px;
  }

  #map {
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto;
  }

  .terms {
    text-align: center;
  }
}

@media (min-width: 650px) { /* tablet-portrait */
    .nav-icon {
      display: none;
    }

    .nav-header {
      max-height: none;
      float: right;
      clear: none;
      font-size: 18px;
      padding: 10px;
    }

    .nav-header ul {
      padding: 0;
    }

    .navlist-item {
      display: inline-block;
    }

    .navlist-item, .navlist-item:first-child {
      border: none;
    }

    .navlist-item:hover {
      background-color: inherit;
    }

    .nav-link:hover {
      color: #440063;
    }
  }

  @media (min-width: 940px) { /* tablet-landscape/smaller laptops */
    .company-info, .key-requirements {
      width: 45%;
      display: inline-block;
      vertical-align: top;
      margin-top: 0;
    }

    .key-requirements {
      margin-left: 50px;
    }

    .role-descrip {
      margin-top: 20px;
    }
  }

  @media (min-width: 1220px) { /* laptops/desktops */
    header h1 {
      margin-left: 25px;
    }

    .nav-header {
      margin-right: 25px;
    }

    .container {
      width: 70%;
    }

    .company-info, .key-requirements {
      width: 40%;
    }


}
