* {
  box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after{
  clear: both;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
  letter-spacing: 2px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

/*header styling*/
header {
  background-color: #75a3a3;
  color: white;
  line-height: 1;
  border-bottom: 2px solid #fff;
}

.logo-link {
  text-decoration: none;
  color: white;
}

.logo {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  padding: 12.5px 0px 10px 15px;
  float: left;
}

.nav-icon {
  float: right;
  font-size: 37.5px;
  padding: 12.5px;
}

.nav-icon:hover {
  color: #383e37;
  cursor: pointer;
}

.nav-header {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
  clear: both;
}

.nav-header ul {
  padding: 0 20px 20px;
}

.navlist-item {
  border-bottom: 2px solid white;
}

.navlist-item:first-child {
  border-top: 2px solid white;
}

.navlist-item:hover {
  background-color: #d1ebcf;
  color: #383e37;
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 10px;
  display: block;
}

.visible {
  max-height: 250px;
}
/*end of header styling*/

/*link to homepage styling*/
.jobalertslink {
  margin: 15px auto 15px;
  border: 1px solid #fff;
  background-color: #d1ebcf;
  padding: 10px;
  letter-spacing: 1px;
  width: 280px;
}

.jobalertslink a {
  text-decoration: none;
  color: #383e37;
}

.jobalertslink p {
  display: inline-block;
  padding-left: 7.5px;
}

.email-link {
  margin: 0 auto 15px;
}

/*end of link to homepage styling*/

.container {
  width: 80%;
  margin: 20px auto 0;
}

.flex {
  display: inline-flex;
  flex-flow: row wrap;
  align-content: stretch;
}

/*Returned search options*/
.job-card {
  border: 2px solid #ddd;
  padding: 10px;
  margin-bottom: 35px;
}

.job-card img {
  max-width: 40%;
  max-height: 75px;
  display: inline-block;
}

.job-card h5 {
  display: inline-block;
  width: 40%;
  margin-left: 17.5px;
  vertical-align: top;
}

.job-card p {
  padding-top: 7.5px;
}

.job-card li {
  list-style: disc;
  margin-left: 25px;
  font-size: 14px;
}

/*Search button*/
.view-now {
  margin: 7.5px auto 0;
  width: 45%;
  display: block;
  text-decoration: none;
  background-color: #75a3a3;
  color: #fff;
  padding: 5px 10px;
  border-radius: 1px;
  width: 40%;
  text-align: center;
}

.view-now:hover {
  background-color: #383e37;
}
/*End of returned search options*/

/*job search card*/
.icon-green {
  font-size: 35px;
}
/*end of job search card*/

/*footer*/
footer {
  background-color: #75a3a3;
  padding: 15px 0;
  text-align: center;
  color: white;
}

footer nav {
  margin: 10px 0;
}

footer ul {
  padding: 0 5px;
}

footer nav li {
  display: inline-block;
  margin-bottom: 5px;
}

footer nav li a {
  text-decoration: none;
  color: white;
  padding: 0 5px;
}

footer nav li a:hover {
  color: #383e37;
}
/*end of footer styling*/

@media (min-width: 480px) { /* mobile-landscape */
  .container {
    width: 65%;
  }

  .job-card {
    padding: 15px;
  }

  .job-card img {
    max-height: 100px;
  }

  .job-card h5 {
    margin-left: 25px;
  }

  .view-now {
    margin-top: 10px;
    width: 40%;
  }
}

@media (min-width: 650px) { /* tablet-portrait */
    .nav-icon {
      display: none;
    }

    .nav-header {
      max-height: none;
      float: right;
      clear: none;
      font-size: 18px;
      padding: 10px;
    }

    .nav-header ul {
      padding: 0;
    }

    .navlist-item {
      display: inline-block;
    }

    .navlist-item, .navlist-item:first-child {
      border: none;
    }

    .navlist-item:hover {
      background-color: inherit;
    }

    .nav-link:hover {
      color: #383e37;
    }

    .email-link {
      float: right;
      text-decoration: none;
      color: #383e37;
    }

    .email-link p {
      display: inline-block;
      padding-left: 10px;
    }

    .container {
      width: 90%;
    }

    .job-card {
      width: 47.5%;
      vertical-align: top;
      margin-right: 14px;
      display: inline-flex;
      flex-flow: column nowrap;
    }

    .flex-item {
      flex: 1 1 auto;
    }

    .flex-items {
      flex: 2 1 auto;
    }

    .job-card h4 {
      margin-left: 15px;
    }

    .job-card p {
      padding-top: 0;
    }

    .view-now {
      width: 50%;
    }
  }

  @media (min-width: 940px) { /* tablet-landscape/smaller laptops */
    .homepagelink {
      margin-left: 50px;
    }

    .email-div {
      margin-right: 50px;
    }

    .container {
      width: 95%;
    }

    .job-card {
      width: 31%;
      margin-right: 20px;
    }

    .job-card h5 {
      margin-right: 15px;
    }

    .view-now {
      width: 40%;
      margin-top: 5px;
    }
  }

  @media (min-width: 1220px) { /* laptops/desktops */
    header h1 {
      margin-left: 25px;
    }

    .nav-header {
      margin-right: 25px;
    }

    .job-card {
      width: 22.5%;
      margin-right: 30px;
    }

    .job-card h4 {
      margin-left: 22.5px;
    }

    .view-now {
      width: 40%;
    }
}
