* {
  box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after{
  clear: both;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

/*header styling*/

header {
  background-color: #09c1b3;
  border-bottom: 5px solid #440063;
  color: white;
}

.logo {
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  padding: 12.5px 0px 10px 15px;
  float: left;
}

.nav-icon {
  float: right;
  font-size: 37.5px;
  padding: 12.5px;
}

.nav-icon:hover {
  color: #440063;
  cursor: pointer;
}

.nav-header {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
  clear: both;
}

.nav-header ul {
  padding: 0 20px 20px;
}

.navlist-item {
  border-bottom: 2px solid white;
}

.navlist-item:first-child {
  border-top: 2px solid white;
}

.navlist-item:hover {
  background-color: #08ADA1;
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 10px;
  display: block;
}

.visible {
  max-height: 200px;
}

/*end of header styling*/

.tagline {
  text-align: center;
  padding: 10px;
}

/*job search box*/
.find-jobs {
  background: url(../images/image1.jpg) center center no-repeat;
  background-size: cover;
  padding: 30% 10%;
  color: white;
}

.searchbox {
  background-color: #440063;
  color: white;
  padding: 7.5%;
}

.searchbox p {
  padding: 2.5% 0 5%;
  font-size: 18px;
}

.searchbox input {
  outline: none;
  width: 100%;
  margin: 2.5% 0;
  padding: 2.5% 0;
  font-size: 18px;
}

.search-jobs {
  font-size: 18px;
  border: none;
  padding: 4% 0;
  font-weight: bold;
  color: #440063;
  background-color: white;
  margin: 2% 0;
  display: block;
  width: 100%;
  outline: none;
}

.search-jobs:hover {
  color: white;
  background-color: #09c1b3;
}
/*end of job search section*/

/*job alerts box*/
.job-alerts {
  margin: 10px;
  padding: 10px;
  background-color: #6BD9D1;
  box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
  border-radius: 5px;
  text-align: center;
}

.sign-up {
  text-decoration: none;
  color: black;
  padding-left: 10px;
}

/*end of job alerts box section*/



/*Why use us section*/

.benefits {
  padding: 5% 0;
  text-align: center;
  font-size: 30px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 0 5% 5%;
}

.benefits-green {
  background-color: #09c1b3;
  padding: 10%;
  text-align: center;
}

.benefits-white {
  background-color: white;
  padding: 10%;
  text-align: center;
}

.benefits-green h3, .benefits-white h3 {
  font-size: 24px;
  padding-bottom: 5%;
  margin-top: 5%;
}

.benefits-green p, .benefits-white p {
  font-size: 16px;
}

.icons-green {
   color: #09c1b3;
   font-size: 50px;
 }

.icons-white {
  color: white;
  font-size: 50px;
}

/*end of why use us section*/

/*resources section*/
.resources {
  display: block;
  padding: 5% 5% 0;
}

.resources h3 {
  margin: 5% 0;
  font-size: 20px;
  font-weight: bold;
}

.resources p {
  font-size: 16px;
  margin-bottom: 5%;
}

.button-reference {
  background-color: #440063;
  text-decoration: none;
  color: white;
  padding: 3.5% 7.5%;
  border-radius: 5px;
  display: block;
  max-width: 160px;
}

.button-reference:hover {
  background-color: #09c1b3;
}

.border {
  border-bottom: 1px solid #440063;
  padding: 2.5%;
}

.border:last-child {
  margin-bottom: 5%;
}
/*end of resources section*/

/*footer*/
footer {
  background-color: #09c1b3;
  padding: 15px 0;
  text-align: center;
  color: white;
}

footer nav {
  margin: 10px 0;
}

footer nav li {
  display: inline-block;
  margin-bottom: 5px;
}

footer nav li a {
  text-decoration: none;
  color: white;
  padding: 0 5px;
}

footer nav li a:hover {
  color: #440063;
}
/*end of footer styling*/
